<!-- addcategory.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Add Category</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/sidebar.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
    }

   /* .dashmenu {
      width: 250px;
      background-color: hsl(210, 88%, 3%);
      color: white;
      min-height: 100vh;
      padding: 20px 10px;
      
    }*/

    .main-content {
      flex-grow: 1;
      padding: 40px;
       width:100%;
       height:755px;
      background-color: #ccc;
    }

    .form-container {
     
      padding: 30px;
      width: 500px;
      height: 400px;
      margin: auto;
      margin-top:150px;
       box-shadow: 0 0 10px rgba(0,0,0,0.1); 
      border-radius: 8px; 

    }

    form{
      width: 450px;
      height: 300px;
      margin: auto;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    label {
     
      font-weight: bold;
      margin-right: 220px;
    }

    input[type="text"],
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      width:100%;
      background-color: #488A99;
      color: white;
      border: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;

    }

    input[type="submit"]:hover {
      background-color: #2980b9;
      
    }
     h1 {
      text-align: center;
      color: #333;
      margin-bottom: 40px;
    }

  </style>
</head>
<body>

  <!-- Sidebar -->
  <%- include('sidebar.ejs') %>

  <!-- Main Content -->
  <div class="main-content">
    <div class="form-container">
      <form action="/savecatgory" method="post">
        <h1>Add Category</h1>
        <label for="categoryName">Category Name</label><br><br>
        <input type="text" id="categoryName" name="name" required>
        <input type="submit" value="Add Category">
        <p><%= msg %></p>
      </form>
    </div>
  </div>

</body>
</html>
