<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Staff Add Page</title>
  <link rel="stylesheet" href="style.css">
   <link rel="stylesheet" href="/sidebar.css">
</head>
<body>

     <%-include('sidebar.ejs')%>
  <div class="staff-section">
    <h2>Add Staff</h2>
    <form action="/staffadded" method="post" class="staff-form">
      <label for="staff-name">Staff Name</label>
      <input type="text" id="staff-name" name="sname" placeholder="Enter Staff Name">

      <label for="email">Email</label>
      <input type="email" id="email" name="semail" placeholder="Enter Email">

      <label for="contact">Contact</label>
      <input type="text" id="contact" name="scontact" placeholder="Enter Contact Number">

      <label for="salary">Salary</label>
      <input type="text" id="salary" name="ssalary" placeholder="Enter Salary">

      <button type="submit">Add Staff</button>
      <center><%=msg%></center>
    </form>
  </div>

</body>
</html>