<aside class="dashmenu">
  <div class="dashlogo">
    <h1>Foodies</h1>
  </div>

  <nav class="dashnav">
    <ul>
      <li><a href="/viewdash"><i class="fa-solid fa-house"></i> Dashboard</a></li>
      <li class="has-dropdown">
        <input type="checkbox" id="category-toggle" hidden>
        <label for="category-toggle" class="dropdown-label">
          <i class="fas fa-tags"></i>Category</label>
        <ul class="dropdown">
          <li><a href="/addcategory"><i class="fas fa-plus"></i> Add Category</a></li>
          <li><a href="/viewcategory"><i class="fas fa-eye"></i> View Category</a></li>
        </ul>
      </li>
      <!-- Menu Dropdown -->
<li class="has-dropdown">
  <input type="checkbox" id="menu-toggle" hidden>
  <label for="menu-toggle" class="dropdown-label">
    <i class="fas fa-bars"></i> Menu
  </label>
  <ul class="dropdown">
    <li><a href="#"><i class="fas fa-plus"></i> Add Menu</a></li>
    <li><a href="#"><i class="fas fa-eye"></i> View Menu</a></li>
  </ul>
</li>


<!-- Staffs Dropdown -->
<li class="has-dropdown">
  <input type="checkbox" id="staff-toggle" hidden>
  <label for="staff-toggle" class="dropdown-label">
    <i class="fas fa-users"></i> Staffs
  </label>
  <ul class="dropdown">
    <li><a href="/addstaff"><i class="fas fa-plus"></i> Add Staff</a></li>
    <li><a href="/viewstaff"><i class="fas fa-eye"></i> View Staff</a></li>
  </ul>
</li>

<!-- Tables Dropdown -->
<li class="has-dropdown">
  <input type="checkbox" id="table-toggle" hidden>
  <label for="table-toggle" class="dropdown-label">
    <i class="fas fa-chair"></i> Tables
  </label>
  <ul class="dropdown">
    <li><a href="#"><i class="fas fa-plus"></i> Add Table</a></li>
    <li><a href="#"><i class="fas fa-eye"></i> View Table</a></li>
  </ul>
</li>
      <li><a href="/orders"><i class="fas fa-receipt"></i> Orders</a></li>
      <li><a href="/bills"><i class="fas fa-file-invoice-dollar"></i> Bills</a></li>
      <li><a href="/reports"><i class="fas fa-chart-line"></i> Reports</a></li>
    </ul>
  </nav>
</aside>